* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

/* Root variables for colors and font sizes */
:root {
    --bg-color: #1f1f21;
    --main-color: #ffae00;
    --text-color: #fff;

    --big-font: 7rem;
    --p-font: 1.1rem;
}

/* Body styles */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* Header styles */
header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}

/* Logo styles */
.logo {
    color: var(--text-color);
    font-size: 42px;
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

/* Navbar styles */
.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

/* Menu button styles */
.menu-btn {
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
}

#menu-icon {
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

/* Section styles */
section {
    padding: 0px 15%;
}

section > div.home-text {
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

/* Home image styles */
.home-img {
    height: 720px;
    width: 720px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Home text styles */
.home-text span {
    padding: 0px 25px;
    border-radius: 6px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
}

.home-text h1 {
    font-size: var(--big-font);
    margin-top: 5px;
    margin-bottom: 10px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.6s ease-in-out;
}

.button:hover {
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

.button-two {
    background: #141414;
    margin-left: 25px;
    color: var(--text-color);
    border: 2px solid #141414;
}

.button-two:hover {
    color: #141414;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}

/* Share section styles */
.share {
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}

.share p {
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
}

.social i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0px 7px;
    transition: all 0.6s ease-in-out;
}

.social i:hover {
    transform: translateY(-10px);
}

/* Media queries for responsiveness */
@media (max-width: 1850px) {
    header {
        padding: 15px 8%;
        transition: 0.2s;
    }

    section {
        padding: 0px 8%;
        transition: 0.2s;
    }

    .share {
        left: 8%;
        transition: 0.2s;
    }
}

@media (max-width: 1370px) {
    header {
        padding: 15px 4%;
        transition: 0.2s;
    }

    section {
        padding: 0px 4%;
        transition: 0.2s;
    }

    .share {
        left: 4%;
        transition: 0.2s;
    }

    :root {
        --big-font: 5.5rem;
        --p-font: 1rem;
        transition: 0.2s;
    }
}

@media (max-width: 1020px) {
    .navbar a {
        margin: 0 15px;
    }

    :root {
        --big-font: 5rem;
        --p-font: 1rem;
        transition: 0.2s;
    }
}

@media (max-width: 950px) {
    .share {
        display: none;
    }

    section {
        padding: 70px 4%;
    }

    header {
        padding: 11px 4%;
        background: #2d2d2d;
    }

    .menu {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .home-text {
        order: 2;
    }

    .home-img {
        height: auto;
        margin: auto;
        width: auto;
    }

    .home-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 850px) {
    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }

    .navbar a {
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2rem;
        font-weight: 400;
    }

    .navbar.open {
        left: 0;
    }
}

@media (max-width: 500px) {
    :root {
        --big-font: 4rem;
        --p-font: 15px;
        transition: .2s;
    }

    .button {
        padding: 9px 28px;
    } 
}

/* Animation for home image */
.home-img img {
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-22px);
    }
    100% {
        transform: translateY(0);
    }
}
